@import "bulma/bulma.sass"

#home-personal-photo
  border-radius: 50%
  display: flex
  max-height: 200px
  margin: auto
  box-shadow: 3px 5px 10px black

#home-top-banner
  background-image: url("../images/tobias-tullius-QTEZfr5xKF8-unsplash.jpg")

#home-mid-banner
  background-image: url("../images/connor-mcsheffrey-MIspM6HIit8-unsplash%20(1).jpg")
  height : 500px

#home-bot-banner
  background-image: url("../images/aga-putra-P_p4NGz5Cb4-unsplash.jpg")
  height : 500px

.is-parallax
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover