/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header:first-child, .card-content:first-child, .card-footer:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* line 35, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header:last-child, .card-content:last-child, .card-footer:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* line 39, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

/* line 46, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

/* line 53, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header-title.is-centered {
  justify-content: center;
}

/* line 56, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-header-icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

/* line 64, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-image {
  display: block;
  position: relative;
}

/* line 68, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-image:first-child img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/* line 72, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-image:last-child img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* line 76, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

/* line 81, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}

/* line 88, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}

/* line 96, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card-footer-item:not(:last-child) {
  border-right: 1px solid #ededed;
}

/* line 102, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/components/card.sass */
.card .media:not(:last-child) {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=card.css.map */