/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-white {
  color: white !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-white:hover, a.has-text-white:focus {
  color: #e6e6e6 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-white {
  background-color: white !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-black {
  color: #0a0a0a !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-black:hover, a.has-text-black:focus {
  color: black !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-black {
  background-color: #0a0a0a !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-light {
  color: whitesmoke !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-light:hover, a.has-text-light:focus {
  color: #dbdbdb !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-light {
  background-color: whitesmoke !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-dark {
  color: #363636 !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-dark:hover, a.has-text-dark:focus {
  color: #1c1c1c !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-dark {
  background-color: #363636 !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-primary {
  color: #00d1b2 !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-primary:hover, a.has-text-primary:focus {
  color: #009e86 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-primary {
  background-color: #00d1b2 !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-primary-light {
  color: #ebfffc !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-primary-light:hover, a.has-text-primary-light:focus {
  color: #b8fff4 !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-primary-light {
  background-color: #ebfffc !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-primary-dark {
  color: #00947e !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-primary-dark:hover, a.has-text-primary-dark:focus {
  color: #00c7a9 !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-primary-dark {
  background-color: #00947e !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-link {
  color: #485fc7 !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-link:hover, a.has-text-link:focus {
  color: #3449a8 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-link {
  background-color: #485fc7 !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-link-light {
  color: #eff1fa !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-link-light:hover, a.has-text-link-light:focus {
  color: #c8cfee !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-link-light {
  background-color: #eff1fa !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-link-dark {
  color: #3850b7 !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-link-dark:hover, a.has-text-link-dark:focus {
  color: #576dcb !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-link-dark {
  background-color: #3850b7 !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-info {
  color: #3e8ed0 !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-info:hover, a.has-text-info:focus {
  color: #2b74b1 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-info {
  background-color: #3e8ed0 !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-info-light {
  color: #eff5fb !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-info-light:hover, a.has-text-info-light:focus {
  color: #c6ddf1 !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-info-light {
  background-color: #eff5fb !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-info-dark {
  color: #296fa8 !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-info-dark:hover, a.has-text-info-dark:focus {
  color: #368ace !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-info-dark {
  background-color: #296fa8 !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-success {
  color: #48c78e !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-success:hover, a.has-text-success:focus {
  color: #34a873 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-success {
  background-color: #48c78e !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-success-light {
  color: #effaf5 !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-success-light:hover, a.has-text-success-light:focus {
  color: #c8eedd !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-success-light {
  background-color: #effaf5 !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-success-dark {
  color: #257953 !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-success-dark:hover, a.has-text-success-dark:focus {
  color: #31a06e !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-success-dark {
  background-color: #257953 !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-warning {
  color: #ffe08a !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-warning:hover, a.has-text-warning:focus {
  color: #ffd257 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-warning {
  background-color: #ffe08a !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-warning-light {
  color: #fffaeb !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-warning-light:hover, a.has-text-warning-light:focus {
  color: #ffecb8 !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-warning-light {
  background-color: #fffaeb !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-warning-dark {
  color: #946c00 !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-warning-dark:hover, a.has-text-warning-dark:focus {
  color: #c79200 !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-warning-dark {
  background-color: #946c00 !important;
}

/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-danger {
  color: #f14668 !important;
}

/* line 8, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-danger:hover, a.has-text-danger:focus {
  color: #ee1742 !important;
}

/* line 11, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-danger {
  background-color: #f14668 !important;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-danger-light {
  color: #feecf0 !important;
}

/* line 20, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-danger-light:hover, a.has-text-danger-light:focus {
  color: #fabdc9 !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-danger-light {
  background-color: #feecf0 !important;
}

/* line 26, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-danger-dark {
  color: #cc0f35 !important;
}

/* line 29, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
a.has-text-danger-dark:hover, a.has-text-danger-dark:focus {
  color: #ee2049 !important;
}

/* line 32, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-danger-dark {
  background-color: #cc0f35 !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-black-bis {
  color: #121212 !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-black-bis {
  background-color: #121212 !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-black-ter {
  color: #242424 !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-black-ter {
  background-color: #242424 !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-grey-darker {
  color: #363636 !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-grey-darker {
  background-color: #363636 !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-grey-dark {
  color: #4a4a4a !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-grey-dark {
  background-color: #4a4a4a !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-grey {
  color: #7a7a7a !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-grey {
  background-color: #7a7a7a !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-grey-light {
  color: #b5b5b5 !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-grey-light {
  background-color: #b5b5b5 !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-grey-lighter {
  color: #dbdbdb !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-grey-lighter {
  background-color: #dbdbdb !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-white-ter {
  color: whitesmoke !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-white-ter {
  background-color: whitesmoke !important;
}

/* line 36, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-text-white-bis {
  color: #fafafa !important;
}

/* line 38, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/helpers/color.sass */
.has-background-white-bis {
  background-color: #fafafa !important;
}

/*# sourceMappingURL=color.css.map */