/* line 5, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
}

/* line 13, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-ancestor {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

/* line 17, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-ancestor:last-child {
  margin-bottom: -0.75rem;
}

/* line 19, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-ancestor:not(:last-child) {
  margin-bottom: 0.75rem;
}

/* line 21, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-child {
  margin: 0 !important;
}

/* line 23, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-parent {
  padding: 0.75rem;
}

/* line 25, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-vertical {
  flex-direction: column;
}

/* line 27, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 1.5rem !important;
}

@media screen and (min-width: 769px), print {
  /* line 31, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile:not(.is-child) {
    display: flex;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-1 {
    flex: none;
    width: 8.33333%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-2 {
    flex: none;
    width: 16.66667%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-3 {
    flex: none;
    width: 25%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-4 {
    flex: none;
    width: 33.33333%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-5 {
    flex: none;
    width: 41.66667%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-6 {
    flex: none;
    width: 50%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-7 {
    flex: none;
    width: 58.33333%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-8 {
    flex: none;
    width: 66.66667%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-9 {
    flex: none;
    width: 75%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-10 {
    flex: none;
    width: 83.33333%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-11 {
    flex: none;
    width: 91.66667%;
  }
  /* line 34, ../../../WebstormProjects/ckosidow.github.io/sass/bulma/grid/tiles.sass */
  .tile.is-12 {
    flex: none;
    width: 100%;
  }
}

/*# sourceMappingURL=tiles.css.map */